<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="Exchange_1.css">
    <meta charset="utf-8">
    <title></title>
    <style>
   select {
    width: 53px; /* Ширина списка в пикселах */
    height: 21.6px;
   }
  </style>
  </head>
  <body>
    <header>
    <h1>SomeBank</h1>
    </header>

         <table border="1">
         <tr>
           <td>Валюта</td>
           <td>Продать</td>
           <td>Купить</td>
           <td>Резерв</td>
         </tr>
         <tr>
           <td>USD</td>
           <td>28.00</td>
           <td>28.40</td>
           <td>3000</td>
         </tr>
         <tr>
           <td>EUR</td>
           <td>30.00</td>
           <td>30.40</td>
           <td>5000</td>
         </tr>
         <tr>
           <td>GBP</td>
           <td>33.00</td>
           <td>33.40</td>
           <td>1000</td>
         </tr>
       </table>

<div id="div1">
  <table>
    <tr>
      <td><form method="post" action="doSomthing">
        <input type="text" size="3" name="value" placeholder="sum"/>
        <select>
          <option>USD</option>
          <option>EUR</option>
          <option>UAH</option>
        </select>
        на
          </form>
      </td>
      <td><form method="post" action="doSomething">
        <select>
            <option>USD</option>
            <option>EUR</option>
            <option>UAH</option>
        </select>
        = 130 USD
    </form>
      </td>
  </tr>

  <td>
    <button class="classButtom" type="submit">Change</button>
  </td>

</table>

</div>
  </body>
</html>
