<!DOCTYPE html>
<!-- <html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"> -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Page_1</title>
    <link rel="stylesheet" id="linc" type="text/css" href="../static/page_1.css">
</head>
<header>
    <h1>SomeBank DDDDDDDDDDDDDDDDDDDDDD</h1>
</header>
<body>
<form method="post">
    <div id="div2">
    Exchange Rate1111
    <table border="1">
        <tr>
            <th> Name</th>
            <th> Buy Rate</th>
            <th> Sell Rate</th>
        </tr>
        <tr th:each="eachMoney:${moneyRate}">
            <td th:text="${eachMoney.name}">...</td>
            <td th:text="${eachMoney.buyRate}">...</td>
            <td th:text="${eachMoney.sellRate}">...</td>
        </tr>
    </table>
    </div>
    <div id="div1">
        <input type="number" name="addSum" value=0 pattern="[0-9]{1-5}" placeholder="Введите сумму: ">
        <label>
            <select name="nameCurrency">
                <option>USD</option>
                <option>EUR</option>
                <!-- <option disabled>UAH</option> -->
            </select>
        </label>
    <button type="submit" name="whatDo" value="buy"> Купить</button>
    <button type="submit" name="whatDo" value="sell"> Продать</button>
    <br>
    </div>
    <div id="div4">
    СОВЕРШЕНА СДЕЛКА :
        <table border="" bordercolor="white">
        <tr>
            <th> Sum</th>
            <th> Currency</th>
            <th> Sell/Buy?</th>
            <th> Exchange_Rate</th>
            <th> Total_cost</th>
        </tr>
        <tr th:each="eachTrans:${OneTrans}">
            <td th:text="${eachTrans.value}">...</td>
            <td th:text="${eachTrans.currency_name}">...</td>
            <td th:text="${eachTrans.sell_buy_name}">...</td>
            <td th:text="${eachTrans.rate}">...</td>
            <td th:text="${eachTrans.sum_name}">...</td>
        </tr>
    </table>
    </div>
    <!--НИЖЕ СЛУЖЕНАЯ ИНФА для теста чтоб видеть сразу изменения (потом можно спрятать и выводить по кнопкам , под паролем )-->
    <div id="div5">
    <table border="1">
        <tr>
            <th> Currency Id</th>
            <th> Name     </th>
            <th> Amount   </th>
            <th> Buy Rate </th>
            <th> Sell Rate</th>
        </tr>
        <tr th:each="eachMoney:${moneyList}">
            <td th:text="${eachMoney.id}">...</td>
            <td th:text="${eachMoney.name}">...</td>
            <td th:text="${eachMoney.amount}">...</td>
            <td th:text="${eachMoney.buyRate}">...</td>
            <td th:text="${eachMoney.sellRate}">...</td>
        </tr>
    </table>
    Transactions
    <table border="1">
        <tr>
            <th> Id</th>
            <th> Sum</th>
            <th> Currency</th>
            <th> Sell/Buy?</th>
            <th> Exchange_Rate</th>
            <th> Total_cost</th>
        </tr>
        <tr th:each="eachTrans:${transList}">
            <td th:text="${eachTrans.id}">...</td>
            <td th:text="${eachTrans.value}">...</td>
            <td th:text="${eachTrans.currency_name}">...</td>
            <td th:text="${eachTrans.sell_buy_name}">...</td>
            <td th:text="${eachTrans.rate}">...</td>
            <td th:text="${eachTrans.sum_name}">...</td>
        </tr>
    </table>
    <button type="submit" name="whatDo" value="show_trans">Show all transaction</button>
    <button type="submit" name="whatDo" value="show_bal"> Show balance & stock</button>
    <button type="submit" class="b1" name="whatDo" value="dell"> RESET </button>
    </div>
</form>
<div id="div3">
    <button onclick="dayNightFunction()">Дневной/Ночной</button>
</div>
<script src="../static/page_1.js"></script>
</body>
</html>