<!DOCTYPE html>
<!-- <html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"> -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Page_1</title>
    <link rel="stylesheet" id="linc" type="text/css" href="page_1.css">
    <style>
        .b1 {
            background: black; /* Синий цвет фона */
            color: yellow; /* Белые буквы */
            font-size: 12pt; /* Размер шрифта в пунктах */
        }
        /*header{*/
            /*font: Arial Black;*/
            /*font-size: 15px;*/
            /*text-align:center;*/
            /*color: Black;*/
            /*border: 1px solid;*/
            /*background-color: #b7f9f2;*/
            /*border-color: green;*/
        /*}*/
    </style>
</head>
<body>
<header>
    <h1>SomeBank</h1>
</header>


<div id="div2">
    <!--Exchange Rate-->
    <table border="1" bgcolor="aqua">
        <tr>
            <th> Name</th>
            <th> Buy Rate</th>
            <th> Sell Rate</th>
        </tr>
        <tr th:each="eachMoney:${moneyRate}">
            <td th:text="${eachMoney.name}">...</td>
            <td th:text="${eachMoney.buyRate}">...</td>
            <td th:text="${eachMoney.sellRate}">...</td>
        </tr>
    </table>
</div>

<div id="div1">
    <form method="post">

    <input type="text" name="addSum" pattern="[0-9]{1-5}.[0-9]{2}" placeholder="Введите сумму: "/>
    <!--<input type="text" name="addSum" pattern="[0-9]{1-5}.[0-9]{2}" placeholder="Введите сумму: " required>-->
    <label>
        <select name="nameCurrency">
            <option>USD</option>
            <option>EUR</option>
          <!-- <option disabled>UAH</option> -->
        </select>
    </label>
    <button type="submit" name="whatDo" value="buy"> Купить</button>
    <button type="submit" name="whatDo" value="sell"> Продать</button>
    <br>
    </form>
</div>

<div id="div4">
    СОВЕРШЕНА СДЕЛКА :
    <table border="1" bgcolor="#f5f5dc">
        <tr>
            <th> Sum</th>
            <th> Currency</th>
            <th> Sell/Buy?</th>
            <th> Exchange_Rate</th>
            <th> Total_cost</th>
        </tr>
        <tr th:each="eachTrans:${OneTrans}">
            <td th:text="${eachTrans.value}">...</td>
            <td th:text="${eachTrans.currency_name}">...</td>
            <td th:text="${eachTrans.sell_buy_name}">...</td>
            <td th:text="${eachTrans.rate}">...</td>
            <td th:text="${eachTrans.sum_name}">...</td>
        </tr>
    </table>
</div>



<!--<table border="1" bgcolor="#7fffd4">-->
    <!--<tr>-->
        <!--<th> Currency Id</th>-->
        <!--<th> Name     </th>-->
        <!--<th> Amount   </th>-->
        <!--<th> Buy Rate </th>-->
        <!--<th> Sell Rate</th>-->
    <!--</tr>-->
    <!--<tr th:each="eachMoney:${moneyList}">-->
        <!--<td th:text="${eachMoney.id}">...</td>-->
        <!--<td th:text="${eachMoney.name}">...</td>-->
        <!--<td th:text="${eachMoney.amount}">...</td>-->
        <!--<td th:text="${eachMoney.buyRate}">...</td>-->
        <!--<td th:text="${eachMoney.sellRate}">...</td>-->
    <!--</tr>-->
<!--</table>-->
<!--Transactions-->
<!--<table border="1" bgcolor="#f5f5dc">-->
    <!--<tr>-->
        <!--<th> Id</th>-->
        <!--<th> Sum</th>-->
        <!--<th> Currency</th>-->
        <!--<th> Sell/Buy?</th>-->
        <!--<th> Exchange_Rate</th>-->
        <!--<th> Total_cost</th>-->
    <!--</tr>-->
    <!--<tr th:each="eachTrans:${transList}">-->
        <!--<td th:text="${eachTrans.id}">...</td>-->
        <!--<td th:text="${eachTrans.value}">...</td>-->
        <!--<td th:text="${eachTrans.currency_name}">...</td>-->
        <!--<td th:text="${eachTrans.sell_buy_name}">...</td>-->
        <!--<td th:text="${eachTrans.rate}">...</td>-->
        <!--<td th:text="${eachTrans.sum_name}">...</td>-->
    <!--</tr>-->
<!--</table>-->


    <!--<button type="submit" name="whatDo" value="show_trans"> Показать все транзакции</button>-->
    <!--<button type="submit" name="whatDo" value="show_bal"> Показать баланс/запас</button>-->
    <!--<button type="submit" class="b1" name="whatDo" value="dell"> НАЧАТЬ ВСЕ СНАЧАЛА (удалит все и пересоздаст)</button>-->
<!--</form>-->
<div id="div3">
<button onclick="dayNightFunction()">Дневной/Ночной</button>
</div>
<script src="page_1.js"></script>


</body>

</html>